@{
  Layout = "_Layout";
}

<div class="login-page">
  <div class="form">
    <form class="login-form" action="auth/login" method="post">
      <input type="text" placeholder="username" name="username" />
      <input type="password" placeholder="password" name="password" />
      <button type="submit">login</button>
    </form>
  </div>
</div>